/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-transcript-annotation Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {

 	// Input options
    //reads = "${launchDir}/data/*.fastq.gz"
    reads = "/import/rhodos11/nanopore_data/fastq/20240612_LRWtTree_A2024-sup-dorado-0.7.1/fastq/*_barcode1[1-6].fastq.gz"
    optional_shortread = null  	// if no short reads, replace with optional_shortread = null 	

 	// References
    //genome = "${launchDir}/data/hdujardini_HiC"
    //annotation = "${launchDir}/data/hdujardini_HiC"
    genome = "/import/rhodos10/ressources/sequencages/genomes/Treesei_QM6a.fasta"
    annotation = "/import/rhodos10/ressources/sequencages/validation_genomeannot/Epitree/QM6aAnnotationIFPEN2021strict_validated.gtf"
    
    // Orientation of FASTQ files
    oriented = false  // if reads already oriented, replace with oriented = true
    
    // Restrander configuration file (TSO and RTP sequences)
    config = "${launchDir}/assets/PCB111.json"

    // Minimap2 intron length
    intron_length = "20000" // 200k by default

    // IsoQuant module input parameters
    model_strategy = "default_ont"

 	// Output directory
    outdir = "result"
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    remove = false
}

process {
    withName:AGAT_COMPLEMENT {
        container = "quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0"
    }
    withName:GFFREAD {
        container = "quay.io/biocontainers/gffread:0.12.7--hdcf5f25_4"
    }
    withName:ISOQUANT {
        container = "quay.io/biocontainers/isoquant:3.4.2--hdfd78af_0"
        containerOptions = "-e HOME=/tmp"
    }
    withName:MERGE_AGAT_GFF2GTF {
        container = "quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0"
    }
    withName:MINIMAP2 {
        container = "quay.io/biocontainers/minimap2:2.26--he4a0461_2"
    }
    withName:RESTRANDER {
        container = "genomicpariscentre/restrander:1.0.1"
    }
    withName:RNA_BLOOM {
        container = "quay.io/biocontainers/rnabloom:2.0.1--hdfd78af_0"
    }
    withName:RNABLOOM_AGAT_BED2GFF {
        container = "quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0"
    }
    withName:RNABLOOM_AGAT_GFF2GTF {
        container = "quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0"
    }
    withName:RNABLOOM_MINIMAP2 {
        container = "quay.io/biocontainers/minimap2:2.26--he4a0461_2"
    }
    withName:RNABLOOM_PAFTOOLS {
        container = "quay.io/biocontainers/minimap2:2.26--he4a0461_2"
    }
    withName:SAMTOOLS {
        container = "quay.io/biocontainers/samtools:1.18--hd87286a_0"
    }
    withName:SAMTOOLS_MERGE {
        container = "quay.io/biocontainers/samtools:1.18--hd87286a_0"
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution/timeline.html"
    }
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution/report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution/trace.txt"
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/execution/pipeline_dag.html"
}
